<footer class="bg-dark footer mt-auto">
    <div class="container py-1 text-muted">
        <h3 class="d-inline">Connect</h3> 
        <div class="d-inline p-4" style="font-size: 1.5rem;">
            <a href="https://www.youtube.com/channel/UCUF3H24RRzk4Z5cZQvdgDUg" class="p-1" style="text-decoration: none; color: #c2c1c1;;"><i class="fab fa-youtube"></i></a>
            <a href="https://www.instagram.com/kapoor_009_/" class="p-1" style="text-decoration: none; color: #c2c1c1;"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/profile.php?id=100009205461980" class="p-1" style="text-decoration: none; color: #c2c1c1;"><i class="fab fa-facebook-square"></i></a>
            <a href="https://www.linkedin.com/in/ashish-kumar-6970ab1b7/" class="p-1" style="text-decoration: none; color: #c2c1c1;"><i class="fab fa-linkedin"></i></a>
        </div>
        <hr style="height:2px;">
    </div>
    <div class="row m-0 p-0" style="color: #615667;">
        <div class="col-md-4 p-0 p-md-1"><h5 class="mb-0">74  Overlook Drive, Richmond, Alaska, PA 99649</h5>
            <h5 class="mb-0">Privacy Policy</h5></div>
        <div class="col-md-4"></div>
        <div class="col-8 col-md-4"><h5 style="text-align-last: right;"><i class="fas fa-phone"> </i> <span> 765-373-2426</span></h5></div>
    </div>
    <div class="container py-1">
        <div class="text-center"><span class="text-muted">&copy;2021 Made It Easy, All Rights Reserved</span></div>
    </div>
    <div class="row m-0" style="color: #846b70;">
        <div class="col-sm-6 offset-sm-6">
            <span class="d-block" style="text-align-last: right;">Managed & Designed By &#64;Ashish Kumar</span>
        </div>
    </div>
</footer>