<% layout('./layouts/layouts') %>
    <div class="container" style="font-family: 'Abel', sans-serif;">
        <div class="text-center" style="color: aliceblue;">
            <h1 class="display-4 text center" style="font-family: 'Dancing Script', cursive; color: #000;">Welcome To Made It Easy</h1>
            <h2 style="font-family: 'Dancing Script', cursive;">"Good Banking is produced not by good laws, but by good bankers."</h2>
        </div>
        <div class="row mb-2">
            <div class="col-md-4 col-sm-6 p-4">
                <h2><i class="fas fa-wallet"></i></h2>
                <h2>Account Management</h2>
                <p class="text-muted">All accounts are displayed clearly in one place.</p>
            </div>
            <div class="col-md-4 col-sm-6 p-4">
                <h2><i class="fas fa-hand-holding-usd"></i></h2>
                <h2>Savings Management</h2>
                <p class="text-muted">Saving money becomes less of struggle if the results are looking neat!</p>
            </div>
            <div class="col-md-4 col-sm-8 offset-sm-2 offset-md-0 p-4">
                <h2><i class="far fa-credit-card"></i></h2>
                <h2>Card Management</h2>
                <p class="text-muted">Users will never lose track of their card's balance thanks to this handy, smooth looking panel.</p>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-4 col-sm-6 p-4">
                <h2><i class="fas fa-file-invoice-dollar"></i></h2>
                <h2>Contracts</h2>
                <p class="text-muted">This panel collects all contracts signed between the user and the bank.</p>
            </div>
            <div class="col-md-4 col-sm-6 p-4">
                <h2><i class="fas fa-handshake"></i></h2>
                <h2>Loans</h2>
                <p class="text-muted">This panel enables users to track loans and apply for new one instantly.</p>
            </div>
            <div class="col-md-4 col-sm-8 offset-sm-2 offset-md-0 p-4">
                <h2><i class="fas fa-chart-line"></i></h2>
                <h2>Investment Management</h2>
                <p class="text-muted">If the bank provides Investment programme to their clients, users are able to see the perforance and make decisions based on frequently updated information.</p>
            </div>
        </div>
    </div>